@import 'tailwindcss';
@import '../Style/style.css' layer(utilities);

@custom-variant dark (&:is(.dark *));

@theme {
  --spacing-50: 50rem;
  --spacing-40\%: 40%;
  --spacing-45\%: 45%;
  --spacing-75\%: 75%;
  --spacing-50\%: 50%;

  --container-screen-xl: 73.13rem;
  --container-screen-2xl: 83.75rem;

  --height-47: 304px;
  --height-49: 350px;
  --height-150: 750px;
  --height-6_25: 6.25rem;

  --z-index-1: 1;
  --z-index-999: 999;

  --color-primary: #2f73f2;
  --color-danger: #dc3545;
  --color-danger_text: #ff3c78;
  --color-green: #3cd278;
  --color-grey: #8e8e8e;
  --color-muted: #547593;
  --color-midnight_text: #102d47;
  --color-border: #dfebfc;
  --color-darkmode: #08162b;
  --color-hero-bg: #f3f9fd;
  --color-dark-hero-bg: #121c2e;
  --color-darkheader: #141d2f;
  --color-dark_border: #253c50;
  --color-foottext: #668199;
  --color-search: #163858;
  --color-dark_b: #1b2c44;

  --text-13: 0.8125rem;
  --text-13--line-height: 1.2;
  --text-14: 0.875rem;
  --text-14--line-height: 1.2;
  --text-16: 1rem;
  --text-16--line-height: 1.2;
  --text-18: 1.125rem;
  --text-18--line-height: 1.2;
  --text-19: 1.1875rem;
  --text-19--line-height: 1.8;
  --text-20: 1.25rem;
  --text-20--line-height: 1.2;
  --text-22: 1.375rem;
  --text-22--line-height: 1.2;
  --text-24: 1.5rem;
  --text-24--line-height: 1.2;
  --text-25: 1.5625rem;
  --text-25--line-height: 1.2;
  --text-28: 1.75rem;
  --text-28--line-height: 1.2;
  --text-35: 2.1875rem;
  --text-35--line-height: 1.2;
  --text-40: 2.5rem;
  --text-40--line-height: 1.2;
  --text-48: 3rem;
  --text-48--line-height: 1.2;
  --text-50: 3.125rem;
  --text-50--line-height: 1.2;

  --tracking-widest: 0.2em;

  --background-image-footer-bg: url('/images/bg_images/footer-bg.png');
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}


@layer components {
    body {
        @apply text-base overflow-x-hidden font-normal;
        -webkit-text-size-adjust: 100%;
    }

    textarea,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    select {
        @apply block outline-hidden text-base font-normal text-midnight_text m-0 rounded-[0.375rem] w-full;
    }

    h1 {
        @apply md:text-50 text-28 font-bold text-midnight_text dark:text-white;
    }

    h2 {
        @apply md:text-40 text-24 font-bold text-midnight_text dark:text-white;
    }

    h3 {
        @apply md:text-28 text-18 font-bold text-white dark:text-primary;
    }

    h4 {
        @apply text-24 font-bold text-midnight_text dark:text-primary;
    }

    h5 {
        @apply text-22 font-medium text-midnight_text dark:text-primary;
    }
}

.blog-details p, .blog-details hr {
    @apply mb-8;
}

.blog-details strong {
    @apply font-bold dark:text-white;
}

.blog-details ul {
    @apply mb-8 list-inside list-disc space-y-3;
}

.blog-details ol {
    @apply mb-8 list-inside list-decimal space-y-3;
}

.blog-details h1 {
    @apply mb-8 text-3xl font-bold dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.28];
}

.blog-details h2 {
    @apply mb-8 text-2xl font-bold dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28];
}

.blog-details h3 {
    @apply mb-6 text-2xl font-bold dark:text-white sm:text-[28px] sm:leading-[40px];
}

.blog-details hr {
    @apply border-border dark:border-dark_border
}